.modal-content{
  background-color: rgb(234,164,164);
  color: #ffffff
}

.btn-secondary{
  background-color: #ffffff;
  color: rgb(234,164,164);
  border: 1px solid #ffffff;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active{
  background-color: #ffffff !important;
  color: rgb(234,164,164) !important;
  border: 1px solid #ffffff !important;
  outline: none !important;
  box-shadow: none;
}

.close:hover,
.close:focus,
.close:active{
  outline: none !important;
  box-shadow: none;
}