.last{
  font-family: 'Karla', sans-serif;
  padding: .3em;
}

.last a{
  text-decoration: none;
}

.fa-street-view,
.fa-at{
  color: rgb(235, 134, 134);
  font-size: 1em;
  margin-right: 0.5em !important;
}

.contact-info span{
  font-size: 1em;
  font-weight: 400;
  font-family: 'Karla', sans-serif !important;

}

.second-contact{
  display: flex;
  justify-content: flex-end;
}

.list-inline-item a{
  color: rgb(235, 134, 134);
}

@media screen and (max-width: 765px) {
  .fa-street-view,
  .fa-at {
    color: rgb(235, 134, 134);
    font-size: .8em;
    margin-right: 0.3em !important;
  }

  .second-contact{
    display: flex;
    justify-content: flex-start;
  }

}