@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

@import url("components/navbar.css");
@import url("components/banner.css");
@import url("components/cards.css");
@import url("components/about.css");
@import url("components/skills.css");
@import url("components/footer.css");
@import url("components/contact.css");

header {
  position: absolute;
  z-index: 10;
  width: 100%;
}

:root{
  --text-light: rgba(255,255,255, 0.7);
  --text-lighter: rgba(239,73,117,0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 100%;
}

*{
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Comfortaa', cursive;
}

body{
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Comfortaa', cursive;
}

#portfolio-target h2{
  text-align: center;
  margin-top: 40px;
  letter-spacing: 8px;
  color: rgb(239,73,117);
  margin-bottom: 20px;
}

#about-target h2{
  text-align: center;
  margin-top: 40px;
  letter-spacing: 8px;
  color: rgb(239,73,117);
  margin-bottom: 50px;
}

#skills-target h2{
  text-align: center;
  margin-top: 40px;
  letter-spacing: 8px;
  color: rgb(239,73,117);
  margin-bottom: 40px;
}


@media(max-width: 768px)
{
  #portfolio-target h2{
    font-size: 28px;
  }
  #about-target h2{
    font-size: 28px;
  }

  #skills-target h2{
    font-size: 28px;
  }

  #contact-target h2{
    font-size: 28px;
  }
}

.location{
  float: right;
  font-size: 20px;
  letter-spacing: 3px;
}

.email{
  font-size: 18px;
  letter-spacing: 2px;
}

.fa-envelope{
  color: rgb(239,73,117);
}

.fa-street-view{
  color: rgb(239,73,117);
}
