.img-profile img{
  width: 80%;
  border-radius: 10%;
}

.text-about-me{
  margin-top: 15px;
  width: 90%;
}
.text-about-me p{
  line-height: 22px;
  font-size: 16px;
  text-align: justify;
}

@media(max-width: 768px)
{
  .img-profile img{
  width: 60%;
  border-radius: 10%;
  }
  .text-about-me{
  margin-top: 25px;
  width: 80%;
  }
  
}