.img-profile img{
  border-radius: 5px;
}

.text-about-me{
  margin-top: 15px;
  width: 90%;
}
.text-about-me p{
  line-height: 22px;
  font-size: 16px;
  text-align: justify;
}

@media(max-width: 768px) {

  .img-profile img{
    border-radius: 5px;
    width: 90%;
    height: 90%;
  }
}
